
 {% extends "base.html" %}{% load staticfiles %}

    {% block content %}
    <div class="main">
    
      <div class="home_wrapper">
      
      <div class='home_table'>
      <table>
        {% for post in posts %}
        <tr>
          <td class="book_title">
            <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
          </td>
          <td class="point">
            {% if post.point == 1 %} ♥ {% elif post.point == 2 %} ♥♥ {% elif
            post.point == 3 %} ♥♥♥ {% elif post.point == 4 %} ♥♥♥♥ {% else %}
            ♥♥♥♥♥ {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>

      <div class='home_review'><div class='review_button' style="cursor:pointer" onclick="location.href='{% url 'new' %}'"><div></div>

      
      </div>
      
    </div>
    {% endblock %}
  