<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>마블리</title>
  </head>
  <body>
    <h1>♥마블리와 함께하는 책 리뷰♥</h1>
    <h2>마블리의 책 리뷰</h2>
    {% for post in posts %}
    <li>
      <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
      {{ post.point }}점
    </li>
    <br />
    {% endfor %}
    <a href="{% url 'new' %}">리뷰작성</a>
  </body>
</html>
