<!DOCTYPE html>
<html lang="en">
  {% extends "home.html" %} {% load staticfiles %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'forall.css' %}?v=0.6"
    />
    <title>마블리</title>
  </head>

  <body>
    {% block content %}
    <div class="main">
      <div class="new_wrapper">
        <div class="new_title">리뷰는 신중히 쓰도록 한다</div>
        <div class="new_form">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="submit" type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
